src/resume.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="resume">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="contact-info">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="address" type="xs:string" />
              <xs:element name="email" type="xs:string" />
              <xs:element name="phone" type="xs:string" />
              <xs:element name="github" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="objective">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="p">
                <xs:complexType mixed="true">
                  <xs:sequence minOccurs="0">
                    <xs:element name="important" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="skills">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="topic">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="topic">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="item" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="employment">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="position">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="from" type="xs:unsignedShort" />
                    <xs:element name="to" type="xs:string" />
                    <xs:element name="title" type="xs:string" />
                    <xs:element name="company" type="xs:string" />
                    <xs:element name="details">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="role">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="description">
                                  <xs:complexType mixed="true">
                                    <xs:sequence>
                                      <xs:element name="a">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute name="href" type="xs:string" use="required" />
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element maxOccurs="unbounded" name="area">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:choice maxOccurs="unbounded">
                                        <xs:element name="p" type="xs:string" />
                                        <xs:element name="header" type="xs:string" />
                                      </xs:choice>
                                    </xs:sequence>
                                    <xs:attribute name="name" type="xs:string" use="required" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="open-source-work">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="p">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element name="a">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="href" type="xs:string" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="education">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="history" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="references">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="reference">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string" />
                    <xs:element name="title" type="xs:string" />
                    <xs:element name="company" type="xs:string" />
                    <xs:element name="email" type="xs:string" />
                    <xs:element name="phone" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>